@using Sitecore.Mvc.Presentation
@using events.tac.local.Models
@using TAC.Utils.Helpers

@model EventsList

<div class="content-list newslist">
  <ol class="media-list">
    @{ var db = RenderingContext.Current.ContextItem.Database; }
    @foreach (var eventItem in Model.Events)
    {
      string eventUrl = Sitecore.Links.LinkManager.GetItemUrl(db.GetItem(eventItem.Path));
      <li class="media media-align-middle">
        <div class="media-left">
          <a href="@eventUrl">@eventItem.EventImage</a>
        </div>
        <div class="media-body">
          <h3 class="media-heading">
            <a href="@eventUrl">@eventItem.ContentHeading</a>
          </h3>
          <div class="description">
            <p>@eventItem.ContentIntro</p>
          </div>
        </div>
        <div class="metadata well">@eventItem.StartDate.ToString("MMM dd, yyyy")</div>
      </li>
    }
  </ol>
</div>

@Html.Pager(Model.PageSize, Model.TotalResultCount)
